<html>
  <head>
    <%- include('../partials/pageHead') %>
    <link rel="stylesheet" href="../styles/profile.css">
  </head>
<body>
  <%- include('../partials/pageHeader') %>
  <main class="container">
    <article id="profile-page" class="preview">
      <section>
        <h2>You have visited the profile page of <%= user.firstName %> <%= user.lastName %></h2>
        <div class="profile">
          <div class="wrap">
            <img src="<%= '/uploads/profile-pictures/' + user._id %>" alt="">
            <div>
              <p class="name"><%= user.firstName %> <%= user.lastName %></p>
              <p><%= user.age %></p>
            </div>
          </div>
          <p class="description">
            <%= user.description %>
          </p>
          <h3>Job</h3>
          <p><%= user.job %></p>
          <h3>Education</h3>
          <p><%= user.education %></p>
          <h3>Hobbies</h3>
          <p class="hobbies">
            <% user.hobbies.forEach(hobby => { 
              const hobbyName = hobbies.find(x => x._id.toString() == hobby);
            %>
            <span><%= hobbyName.name %></span>
            <% }) %>
          </p>
        </div>
      </section>
    </article> 
    <%- include('../partials/pageFooter') %>
  </main>
</body>
</html>